[Unit]
Description=Photoframe Sync Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
# UID that owns ~/home-gallery (`id -u` of your frame user)
User=1000
Group=1000
# The "%i" will be filled with instance name (from .path)
ExecStart=python %h/home-gallery/packages/folder-sync/folder-sync.py -c %h/home-gallery/packages/folder-sync/sync-config.yml -s %i
StandardOutput=journal
StandardError=journal
